 html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: serif, "Times New Roman", Times;
}

div, ul ,ol, li{ margin: 0px; padding: 0px; list-style: none;}
a:link , a:visited { text-decoration: none; color:#363636;}


div#menu {
	height: 32px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #F00;
	background-image: linear-gradient( #F00,#000) ;
} 

div#map_content {
	position: relative;
	float: left;
	height: 611px;
	width: 75%;
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

#map {
	
  min-width: 200px;
  width: 100%;
  min-height: 200px;
  height: 100%;

}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}

div#timeline {
	position: relative;
	float: left;
	height: 579px;
	width: 25%;
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

div#timeline_header {
	position: relative;
	float: left;
	height: 31px;
	width: 25%;
	margin: 0px;
	padding: 0px;
	background: #EEE;
	text-align: center;
	line-height: 32px;
	border-bottom: solid 1px #999;
}

div#show_list {
	overflow:auto; 
	overflow-x: hidden;
	height: 579px;
}

div.content_timeline {
	background: #FFF;
	padding: 5px;
}

div.content_timeline_detail {
	font-size: 14px;
}

div.content_timeline_datetime {
	text-align: right;
	color: #8D8D8D;
	font-size: 9px;
}

div.img {
	margin: 5px;
	float: left;
	width: 300px;
}


div.img img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}


input#pic_map {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

div#show_list div.content_timeline {
	display: block;
	border-bottom: solid 1px #EEE;
	cursor: pointer;
	padding: 5px;
}

div#show_list div.content_timeline:hover {
	background-color: #EEE;
}

div#show_list div.content_timeline.selected {
	background-color: #EEE;
}

div#show_list div.content_timeline_images:after {
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

div#show_image_map {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: repeat url('./images/bg_show_image.png');
}

img.info {
  display: block;
  max-width: 800px;
  max-height: 540px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

div#navMain ul { float:right;margin: 3px 60px }
div#navMain li { float:left;  padding:5px 10px;}
div#navMain li a { text-transform:uppercase; font-size:15px; color:#FFF;text-align: center;}
div#navMain li.last { margin-right:0;}
div#navMain li a:hover { color:#363636; text-decoration:none;}
